{{> menu active="about"}}
<div class="column">
    <img src="images/woodsatnight.png" class="ui centered circular big image">
</div>


<div class="ui huge text segment">
  <div class="ui two column very relaxed grid">
    <div class="column">
      <p>Login and setup your own repository for the Woodlands of Ireland</p>
      <p>Each woodland is assigned a Category. So this may be a Coniferous, Broadleaved or Mixed Wood </p>
    </div>
    <div class="column">
      <p>Enter in the Woods geographical location </p>
      <p>Delete Categories or Woods when you want </p>
       <p>Enter in the Woods description</p>
    </div>
  </div>
   <div class="ui vertical divider">
      and
    </div>
  </div>


<h3 class="ui horizontal divider header">
  Contact
</h3>
<h4 class="ui center aligned header">Visit us at woodlands.com for more information<br> or <br>Contact woodlands@gmail.com</h4>

  <div class="ui vertical segment">
      <img class="ui circular centered medium image" src="images/woodlogo.jpg">
  </div>