{{> menu active="dashboard"}}


<div class="column">
    <img src="images/illustrated.jpg" class="ui centered circular big image">
</div>

<div class="ui segments">
  <div class="ui  inverted segment">
  <h1><center>Category of Woods</center></h1>
<section class="section">
  {{> list-categories}}
  {{> add-category}}
</section>
</div>
</div>




<h3 class="ui horizontal divider header">
  Contact
</h3>
<h4 class="ui center aligned header">Visit us at woodlands.com for more information<br> or <br>Contact woodlands@gmail.com</h4>

<div class="ui vertical segment">
    <img class="ui circular centered medium image" src="images/woodlogo.jpg">
</div>