{{> welcome-menu}}



<div class="column">
    <img src="images/reveal.jpg" class="ui centered circular big image">
</div>


<div class="ui inverted large segment">
  <h2 class="ui inverted centered header">
        EXPLORE
    <div class="sub header">The Woodlands of Ireland</div>
  </h2>
</div>

<div class="ui inverted large segment">
  <h2 class="ui centered inverted header">
    WANDER
    <div class="sub header">Into different categories of Woods</div>
  </h2>
</div>

<div class="ui inverted large segment">
  <h2 class="ui centered inverted header">
    DISCOVER
    <div class="sub header">What lies inside each Wood</div>
  </h2>
</div>



<div class="ui placeholder segment">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <form class="ui black form" action="/authenticate" method="POST">
        <div class="field">
          <label>Email</label> <input placeholder="Email" name="email">
        </div>
        <div class="field">
          <label>Password</label> <input placeholder="Password" name="password" type="password">
        </div>

        <button class="ui blue submit button">Login</button>
      </form>
    </div>
    <div class="middle aligned column">
      <div class="ui big button">
        <a class="signup icon" href="signup"> Sign Up</a>

      </div>
    </div>
  </div>
  <div class="ui vertical divider">
    Or
  </div>
</div>

<h3 class="ui horizontal divider header">
  Contact
</h3>
<h4 class="ui center aligned header">Visit us at woodlands.com for more information<br> or <br>Contact woodlands@gmail.com</h4>


<div class="ui vertical segment">
  <img class="ui circular centered medium image" src="/images/woodlogo.jpg">
</div>