
  <form class="ui inverted segment form" action="/dashboard/addcategory" method="POST">
    <div class="field">
      <input class="input" type="text" placeholder="Enter Category of Woods" name="title">
    </div>
    <button class="ui blue submit button">Add New Category</button>
  </form>
