

<form class="ui inverted segment form" action="/category/{{category._id}}/addwood" method="POST">
  <label>Enter Wood Details:</label>
  <div class="four fields">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Title" name="title">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Description" name="description">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Latitude" name="latitude">
      </div>
      <div class="field">
              <input class="input" type="text" placeholder="Enter Longitude" name="longitude">
            </div>
    </div>
    <button class="ui blue submit button">Add Wood</button>
  </div>

</form>
